---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import Field from "../components/Field.astro"
---
<BaseLayout title = "About">
  <h1>Biography</h1>
  <p>
    My name is <mark>Joseph G. Pinon</mark>. I grew up in <mark>Oakland, CA</mark>. 
    I enjoy exploring the fields of computer science, data analysis, thermodynamics, computational fluid dynamics and game development. I recieved my Bachelors and Masters of Science in Mechanical Engineering from <mark>Carnegie Mellon University</mark>. Currently I am working as an Air Battle Manager in the United States Air Force.
  </p>
  <h2>My Purpose</h2>
  <!-- <article> -->
  <!--   <div class = "card"> -->
  <!--     <h3>I</h3> -->
  <!--     Inspire others through my work and experiences. -->
  <!--   </div> -->
  <!--   <div class = "card"> -->
  <!--     <h3>II</h3> -->
  <!--     Hold myself accountable to studying demanding topics -->
  <!--   </div> -->
  <!--   <div class = "card"> -->
  <!--     <h3>III</h3> -->
  <!--     Propose unique solutions to challenging problems -->
  <!--   </div> -->
  <!-- </article> -->
</BaseLayout>

<style>
article{
  display: flex;
}

.card {
  margin-right: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.card > p {
  text-align: center;
}

mark{
  color: var(--set0);
  background-color: transparent;
}

@keyframes fadein{
from{
  opacity: 0;
  translate: 25% 0%;
}
</style>
