---
import "../styles/global.css"
import Link from "./Link.astro"
---
<header> 
  <a href = "/">JGP</a>
  <nav> 
    <ul>
      <!-- <li> -->
      <!--   <Link title = "HOME" href = "/homebase"/> -->
      <!-- </li> -->
      <li>
        <Link title = "ABOUT" href = "/homebase/about"/>
      </li>
      <li>
        <Link title = "PROJECTS" href = "/homebase/projects"/>
      </li>
      <li>
        <Link title = "ARTICLES" href = "/homebase/articles"/>
      </li>
    </ul>     
  </nav>

</header>

<style>

a {
  display: block;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 10;
  text-decoration: none;
  vertical-align: baseline;
  font-weight: 500;
  font-size: clamp(13px, 2.5vw, 1rem);
}

a:hover{
  cursor: pointer;
  color: var(--set0);
  transition: 1s;
}

nav{
  display: flex;
}

header{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: clamp(1rem, 3%, 3rem);
  margin-right: clamp(1rem, 3%, 3rem);
  /* padding-top:1rem; */
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
}

ul{
  display: flex;
  list-style: none;
}

li{
  text-wrap: nowrap;
  transition: 0.5s;
}

</style>

