---
import "../styles/global.css"
const {title} = Astro.props
const {href} = Astro.props
---
<a href = {href}>
  {title}
</a>

<style>

a {
  display:block;
  font-size: clamp(13px, 2.5vw, 1rem);
  font-weight: 500;
  padding: 1rem;
  /* transition: 1s; */
  text-decoration: none;
  backdrop-filter: blur(2px);
}
a:hover{
  /* transition: 1s; */
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--set0);
}

</style>
